<santa xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="santa.xsd">
  <replicates>1</replicates>
  <simulation>
    <genome>
      {% for rec in data -%}
      {% if loop.index == 1 %}
      <length>{{rec.seq|length}}</length>
      {% endif %}
      <sequences>
	>{{rec.id}}
	{{rec.seq}}
      </sequences>
      {% endfor%}
	  <feature>
	    <name>C2C3</name>
	    <type>aminoAcid</type>
	    <coordinates>1-468</coordinates>
	  </feature>
    </genome>

    <population>
      <populationSize>$population</populationSize>
      <inoculum>all</inoculum>
    </population>
    <populationType>staticPopulation</populationType>
    <fitnessFunction>
      <empiricalFitness>
	<feature>C2C3</feature>
	<sites>1-156</sites>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!-- assign equal fitness to each amino acid at this site		   -->
	<!-- This is effectively neutral fitness.				   -->
	<!-- 									   -->
	<!-- The advantage of using empiricalFitness instead of			   -->
	<!-- neutralFitness is that STOP codons are lethal under		   -->
	<!-- empiricalFitness, but not lethal under neutralFitness.		   -->
	<!-- Downstream dN/dS calculations connot handle STOP codons in the	   -->
	<!-- sequences, so we want those genomes filtered out.    		   -->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	     
	<values>
	  0.010 0.010 0.010 0.010 0.010
	  0.010 0.010 0.010 0.010 0.010
	  0.010 0.010 0.010 0.010 0.010
	  0.010 0.010 0.010 0.010 0.010
	</values>
      </empiricalFitness>
    </fitnessFunction>

    <mutator>
      <nucleotideMutator>
	<mutationRate>$mutationrate</mutationRate>
	<transitionBias>2.0</transitionBias>
      </nucleotideMutator>
    </mutator>
    <replicator>
      <clonalReplicator/>
    </replicator>

    <epoch>
      <name>initial</name>
      <generationCount>$longevity</generationCount>			
    </epoch>
    
    <samplingSchedule>
      <sampler>
	<!-- Sample 10 alignments every 100 generations. -->
	<atFrequency>100</atFrequency>	
	<fileName>santa_out.fa</fileName>
	<alignment>
	  <sampleSize>400</sampleSize>
	  <format>FASTA</format>
	  <label>{{label}}</label>
	</alignment>
      </sampler>
    </samplingSchedule>
  </simulation>
</santa>
