<santa xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="santa.xsd">
	<replicates>1</replicates>
	<simulation>
	  <genome>
	  {% for rec in data -%}
	  {% if loop.index == 1 %}
	  <length>{{rec.seq|length}}</length>
	  {% endif %}
	  <sequences>
>{{rec.id}}
{{rec.seq}}
	  </sequences>
	  {% endfor%}
	  <feature>
	    <name>C2C3</name>
	    <type>aminoAcid</type>
	    <coordinates>1-468</coordinates>
	  </feature>
		</genome>
		<population>
			<populationSize>$population</populationSize>
			<inoculum>all</inoculum>
		</population>
		<populationType>staticPopulation</populationType>
		<fitnessFunction>
		  <purifyingFitness>
		    <feature>C2C3</feature>
		    <sites>1-156</sites>
		    <rank>
		      <order>chemical</order>
		      <breakTies>random</breakTies>
		    </rank>
		    <fitness>
		      <lowFitness>$fitness</lowFitness>
		      <minimumFitness>0.1</minimumFitness>
		    </fitness>
		  </purifyingFitness>

		</fitnessFunction>

		<mutator>
		  <nucleotideMutator>
		    <mutationRate>$mutationrate</mutationRate>
		    <rateBias>
	              0.42 2.49 0.29
	              1.73 0.23 4.73
	              6.99 0.20 0.60
	              1.02 2.56 0.88
	            </rateBias>
		  </nucleotideMutator>
		</mutator>
		<replicator>
		  <clonalReplicator/>
		</replicator>

		<epoch>
		  <name>initial</name>
		  <generationCount>$longevity</generationCount>			
		</epoch>
		
		<samplingSchedule>
		  <sampler>
		    <!-- Sample 10 alignments every 100 generations. -->
		    <atFrequency>100</atFrequency>	
		    <fileName>santa_out.fa</fileName>
		    <alignment>
		      <sampleSize>400</sampleSize>
		      <format>FASTA</format>
		      <label>{{label}}</label>
		    </alignment>
		  </sampler>
		</samplingSchedule>
	</simulation>
</santa>
